.login::after {
  content: '';
  display: block;
  width: 100%;
  height: 40px;
  position: absolute;
  left: 0;
}
.search::after {
  content: '';
  display: block;
  width: 100%;
  height: 40px;
  position: absolute;
  left: 0;
}
.elementAppears {
  opacity: 0;
  transform: translateY(10%);
}
.elementAppears.element-show {
  opacity: 1;
  transition: all 1s;
  transform: translateY(0%);
}
.textAppears__right {
  opacity: 0;
  transform: translateX(10%);
}
.textAppears__right.element-show {
  opacity: 1;
  transition: all 1s;
  transform: translateX(0%);
}
.textAppears__left {
  opacity: 0;
  transform: translateX(-10%);
}
.textAppears__left.element-show {
  opacity: 1;
  transition: all 1s;
  transform: translateX(0%);
}
.recommended__item-group button.active {
  transform: scale(0.95);
}
.recommended__item-group button.active::before {
  background-color: #0ab627;
}