.contactsPage {
}
.contactsPage .sectionTitle {
    margin-top: 20px;
}
.contactsPage .contacts {
    margin-top: 40px;
    padding: 0;
    background-color: #fff;
}
.contacts-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 35px;
}
@media (max-width: 1200px) {
    .contacts-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}
@media (max-width: 650px) {
    .contacts-grid {
        grid-template-columns: 1fr;
    }
}

.contacts-grid__item svg {
    min-width: max-content;
}
@media (max-width: 992px) {
    .contacts-grid__item svg {
        min-width: 40px;
        max-width: 30px;
    }
}
@media (max-width: 768px) {
    .contacts-grid__item svg {
        min-width: 30px;
        max-width: 30px;
    }
}

.contacts-grid__item {
    display: flex;
    align-items: center;
    column-gap: 25px;
    padding: 50px 25px;
    background-color: #ebebeb;
}
@media (max-width: 992px) {
    .contacts-grid__item {
        padding: 30px 20px;
    }
}
@media (max-width: 768px) {
    .contacts-grid__item {
        padding: 15px 20px;
        column-gap: 20px;
    }
}

.contacts-grid__item-info {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.contacts-grid__item-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #282828;
    text-transform: uppercase;
}
@media (max-width: 992px) {
    .contacts-grid__item-title {
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    .contacts-grid__item-title {
        font-size: 12px;
        line-height: 15px;
    }
}

.contacts-grid__item-desc {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: #282828;
}
@media (max-width: 992px) {
    .contacts-grid__item-desc {
        font-size: 12px;
    }
}

.contacts-form {
    background-color: #088af8;
    padding: 35px 0 40px;
    margin: 40px 0;
}
@media(max-width: 768px) {
    .contacts-form {
        padding: 30px 0 35px;
    }
}

.contacts-form-title {
    font-size: 25px;
    font-weight: 700;
    line-height: 31px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
@media (max-width: 992px) {
    .contacts-form-title {
        font-size: 20px;
    }
}
@media (max-width: 768px) {
    .contacts-form-title {
        font-size: 16px;
        line-height: 20px;
        padding: 0 20px;
    }
}

.contacts-form__box {
    margin: 25px auto 0;
}
@media(max-width: 768px) {
    .contacts-form__box {
        margin: 15px auto 0;
        width: 100%;
        padding: 0 20px;
    }
}

.contacts-form__box input {
    background-color: #088af8;
    border: 1px solid #ffffff80;
    outline: none;
}
.contacts-form__input-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 12px;
}
@media(max-width: 992px) {
    .contacts-form__input-group {
        column-gap: 30px;
    }
}
@media(max-width: 768px) {
    .contacts-form__input-group {
        grid-template-columns: 1fr;
    }
}

.contacts-form__input-group + input {
    margin-top: 12px;
}
.contacts-form input {
    font-family: Geometria-Light, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    padding: 15px 25px;
    width: -webkit-fill-available;
    color: #fff;
}
@media(max-width: 768px) {
    .contacts-form input {
        padding: 15px 20px;
        font-size: 14px;
        line-height: 18px;
    }
}

.contacts-form input::placeholder {
    color: #fff;
}
.contacts-form textarea {
    font-family: Geometria-Light, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    padding: 15px 25px;
    color: #fff;
    margin-top: 12px;
    background-color: #088af8;
    border: 1px solid #ffffff80;
    outline: none;
    max-height: 95px;
}
@media(max-width: 768px) {
    .contacts-form textarea {
        max-height: 115px;
        padding: 15px 20px;
        font-size: 14px;
        line-height: 18px;
    }
}

.contacts-form textarea::placeholder {
    color: #fff;
}
.contacts-form__button {
    background-color: #fff;
    margin: 30px auto 0;
    padding: 16px 25px;
}
@media(max-width: 768px) {
    .contacts-form__button {
        margin: 15px auto 0;
    }
}

.contacts-form__button span {
    color: #000;
    font-family: Unbounded, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}
.contacts-form__box,
.contacts-form textarea,
.contacts-form__input-group {
    width: -webkit-fill-available;
    max-width: 825px;
}
@media (max-width: 992px) {
    .contacts-form__box,
    .contacts-form textarea,
    .contacts-form__input-group {
        max-width: 650px;
    }
}
@media (max-width: 375px) {
    .contacts__socials {
      flex-wrap: wrap;
      row-gap: 8px;
    }
}
