header .container {
  max-width: 1920px;
  margin: auto;
  padding: 0 50px;
}
@media (max-width: 1200px) {
  header .container {
    padding: 0 35px;
  }
}
@media (max-width: 768px) {
  header .container {
    padding: 0 15px;
  }
}
a:focus {
  color: inherit;
}
.rotate180 {
  transform: rotate(180deg);
}
.align-start {
  align-items: flex-start !important;
}
.container {
  max-width: 1400px;
  margin: auto;
  padding: 0 40px;
}
@media(max-width: 1200px) {
  .container {
    padding: 0 30px;
  }
}
@media(max-width: 768px) {
  .container {
    padding: 0 12px;
  }
}
.nav {
  margin-top: 26px;
  margin-bottom: 15px;
}
.nav__block {
  display: flex;
  justify-content: center;
}
.nav__block-item {
  color: #282828;
  font-family: 'Geometria-Light';
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.nav__block-item__current {
  margin-left: 4px;
}
.account__title {
  color: #282828;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 26px;
  text-align: center;
}
.account__block {
  display: grid;
  column-gap: 24px;
  grid-template-columns: 263px 1fr;
}
.account__block-nav {
  padding: 10px 25px 30px 25px;
  background: #088AF8;
  overflow: hidden;
  height: fit-content;
}
.account__block-nav__name {
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
}
.account__block-nav__name::before {
  content: '';
  position: absolute;
  left: -30px;
  bottom: -10px;
  width: 300px;
  height: 3px;
  background: #FFF;
}
.account__block-nav__item {
  display: flex;
  align-items: center;
  column-gap: 14px;
  margin-bottom: 20px;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  transition: all 0.3s ease;
}
.account__block-nav__item:first-of-type {
  margin-top: 20px;
}
.account__block-nav__item:last-child {
  margin-bottom: 0px;
}
.account__block-nav__item img {
  width: auto;
  transition: all 0.3s ease;
}
.account__block-nav__item:hover {
  color: #000;
  transition: all 0.3s ease;
}
.account__block-nav__item:hover img {
  filter: invert(100%);
  transition: all 0.3s ease;
}
.account__block-nav__item-current {
  color: #000;
  text-decoration: underline;
  font-weight: 600;
  cursor: default;
}
.account__block-nav__item-current img {
  filter: invert(100%);
}
.account__section {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.account__block-nav__name-hidden {
  display: none;
  color: #FFF;
  background: #088AF8;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 3px solid #fff;
}
.account__block-nav__item-hidden {
  display: none;
  align-items: center;
  column-gap: 14px;
  padding: 10px 21px;
  color: #FFF;
  background: #088AF8;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  transition: all 0.3s ease;
}
.account__block-nav__item-hidden:hover {
  color: #000;
  transition: all 0.3s ease;
}
.account__block-nav__item-hidden:hover img:first-of-type {
  filter: invert(100%);
  transition: all 0.3s ease;
}
.account__block-nav__item-hidden img {
  width: auto;
  transition: all 0.3s ease;
}
.account__block-nav__item-current__hidden {
  color: #000;
  text-decoration: underline;
  font-weight: 600;
}
.account__block-nav__item-current__hidden img {
  filter: invert(100%);
}
.account__block-nav__item-current__hidden .account__block-nav__item-hidden__arrow {
  filter: invert(0);
}
.account__block-nav__item-hidden__arrow {
  margin-left: auto;
}
.account__block-nav__hidden-more {
  display: none;
}
@media ( max-width: 1200px ) {
  .nav {
    margin-top: 24px;
  }
  .nav__block-item {
    font-size: 18px;
  }
  .account__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
@media ( max-width: 992px ) {
  .account {
    margin-bottom: 24px;
  }
  .account__block {
    grid-template-columns: 1fr;
  }
  .account__title {
    font-size: 26px;
  }
  .account__block-nav {
    display: none;
  }
  .account__block-nav__name-hidden {
    display: block;
  }
  .account__block-nav__item-hidden {
    display: flex;
  }
  .account__section {
    padding: 10px 0 !important;
  }
}
@media ( max-width: 768px ) {
  .account__title {
    font-size: 24px;
  }
}
@media ( max-width: 576px ) {
  .nav {
    margin-bottom: 9px;
  }
  .nav__block-item {
    font-size: 16px;
  }
  .account__title {
    font-size: 20px;
    margin-bottom: 16px;
  }
  .account__block-nav__name-hidden {
    font-size: 16px;
  }
}
.settings {
  max-width: 816px;
  padding-bottom: 130px;
}
@media ( max-width: 992px ) {
  .settings {
    max-width: 100%;
  }
}
.settings__block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 11px 16px;
  margin-bottom: 33px;
}
.settings__block-item {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  position: relative;
}
.settings__block-item img {
  width: auto;
}
.settings__block-item__passwordRepeat {
  opacity: 0;
}
.settings__block-item label {
  color: #088AF8;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.settings__block-item input {
  border: 1px solid rgba(151, 151, 151, 0.26);
  background: #E8E8E8;
  padding: 17px 42px 16px 24px;
  outline: none;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: 'Unbounded';
  box-sizing: border-box;
}
.settings__block-item input::placeholder {
  color: #282828;
  font-family: 'Geometria-Light';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.settings__block-item img {
  display: none;
  position: absolute;
  right: 16px;
  top: 42px;
}
.settings__edit {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 11px;
  color: #FFF;
  text-align: center;
  font-family: Unbounded;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
  padding: 22px 0;
  background: #088AF8;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  width: 49%;
  margin-left: auto;
}
.settings__edit:hover {
  background: #EA9311;
  transition: all 0.3s ease;
}
.settings__edit::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: #088AF8;
  transform: translateX(-100%);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.5s ease;
}
.settings__edit:hover::before {
  transform: translateX(101%);
  opacity: 1;
}
.settings__edit img {
  width: auto;
}
.settings__save {
  display: none;
  align-items: center;
  justify-content: center;
  column-gap: 11px;
  color: #FFF;
  text-align: center;
  font-family: Unbounded;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
  padding: 22px 0;
  background: #2BBA30;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  width: 49%;
  margin-left: auto;
}
.settings__save:hover {
  color: #2BBA30;
  background: #313E45;
  transition: all 0.3s ease;
}
.settings__save:hover img {
  filter: invert(40%) sepia(29%) saturate(4753%) hue-rotate(100deg) brightness(86%) contrast(86%);
}
.settings__save::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: #2BBA30;
  transform: translateX(-100%);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.5s ease;
}
.settings__save:hover::before {
  transform: translateX(101%);
  opacity: 1;
}
.settings__save img {
  width: auto;
}
@media ( max-width: 650px ) {
  .settings__form {
    background: #F5F5F5;
    padding: 18px 15px;
  }
  .settings__block {
    grid-template-columns: minmax(260px, 1fr);
    margin-bottom: 14px;
  }
  .settings__block-item label {
    display: none;
  }
  .settings__block-item input {
    padding-left: 20px;
    background: #fff;
  }
  .settings__block-item img {
    right: 14px;
    top: 17px;
  }
  .settings__block-item__passwordRepeat {
    display: none;
    order: 1;
  }
  .settings__save {
    width: 100%;
    padding: 16px 0;
  }
  .settings__edit {
    width: 100%;
    padding: 16px 0;
  }
}